
<div class="posts ui grid">
	<div class="row">
		<div class="sidebar three wide column">
			<h2>Latest Posts</h2>
			{{#each post in model }}
				{{#link-to 'post' post}}
					<div class="post">{{ post.title }} <i>by {{ post.author.name }}</i></div>
				{{/link-to}}
			{{/each}}
		</div>

		<div class="content thirteen wide column">
			{{ outlet }}
		</div>
	</div>
</div>