- var usecdn = false

doctype html  
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="shortcut icon", type="image/png", href="http://localhost:9001/favicon.png")
	
	title Beardy

	link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300")
	link(rel="stylesheet", type="text/css", href="vendor/semantic.css")
	link(rel="stylesheet", type="text/css", href="styles/app.css")
body

	if !usecdn
		script(src="vendor/jquery.js")
		script(src="vendor/semantic.js")
		script(src="vendor/handlebars.js")
		script(src="vendor/ember.js")

		// 
			script(src="vendor/underscore.js")
			script(src="vendor/backbone.js")
	else
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/javascript/semantic.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/ember.js/1.9.0-beta.1/ember.js")

		// 
			script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")

	script(src="scripts/templates.js")
	script(src="scripts/app.js")
