body {
  font-family: "open sans";
  background-color: #0c214c;
  margin: 0;
  padding: 0; }

a {
  color: #467ae2;
  text-decoration: none; }

#header {
  color: #fff;
  margin: 20px 100px;
  height: 50px; }
  #header h1 {
    margin: 0;
    font-size: 41px;
    padding-left: 40px;
    float: left;
    text-shadow: 5px 5px 0px #091736; }
  #header #topmenu {
    margin: 0px 223px 0;
    height: 50px;
    padding: 5px 0px 0px 18px;
    border-left: 1px solid #2855af; }
    #header #topmenu a {
      color: #2B7A96;
      font-family: "open sans condensed";
      font-size: 24px;
      float: left;
      padding: 4px 10px;
      margin-right: 25px;
      border: 3px solid transparent;
      text-decoration: none;
      -webkit-transition: all 0.5s;
      outline: none; }
    #header #topmenu a:hover, #header #topmenu a.active {
      color: #fff;
      border-bottom: 2px solid #fff;
      -webkit-transition: all 0.5s; }

#main {
  background-color: #061024;
  border: 1px solid #2855af;
  color: #467ae2;
  padding: 25px;
  width: auto;
  margin: 0 100px;
  border-radius: 4px;
  box-sizing: border-box; }

.posts h2 {
  color: #729ae9;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #2855af; }

.posts .content h2 {
  margin-bottom: 5px; }

.posts .content p {
  font-size: 13px; }

.posts .sidebar .post:first-of-type {
  padding-top: 5px; }

.posts .sidebar .post {
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px dashed #1f4186; }

.posts .sidebar .post:hover {
  color: #fff !important; }

.posts .sidebar .active .post {
  color: #f6f9fe; }

.posts .sidebar {
  text-align: center !important; }

.posts.grid .sidebar {
  border-right: 1px solid #2855af;
  min-height: 400px; }

.cats .row .column {
  border: 1px solid rgba(31, 83, 187, 0.75); }
